# Python
__pycache__/
*.py[cod]
*.sqlite3
.venv/
venv/
media/

# Flutter / Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
.pub-cache/

# OS and editors
.DS_Store
.idea/
.vscode/
